@font-face {
  font-family: "avenir";
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/Avenir-Heavy.woff2") format("woff2");
}
@font-face {
  font-family: "avenir";
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Avenir-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "avenir";
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Avenir-Book.woff2") format("woff2");
}
@font-face {
  font-family: "avenir-roman";
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Avenir-Roman.woff2") format("woff2");
}

/*=====================CSS RESET START======================*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*=====================CSS RESET END======================*/
/*=====================COMMON STYLES START======================*/
*,
::before,
::after {
  box-sizing: border-box;
}
a {
  display: inline-flex;
  text-decoration: none;
  color: inherit;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "avenir", Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #fff;
  color: #000000;
}
.container {
  max-width: 1130px;
  width: 100%;
  margin: 0 auto;
}
.button {
  color: #000000;
  border-radius: 999px;
}

/*=====================COMMON STYLES END======================*/
/*=====================HEADER STYLES START======================*/
.header {
  padding: 50px 0;
}
.navbar,
.nav {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 121px;
}
.logo:hover {
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.nav {
  margin-right: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
}
.nav a {
  padding: 10px;
  color: #4b5d68;
}
.nav a:hover {
  text-shadow: 0.2px 0.2px 0px, -0.2px -0.2px 0px;
  color: #212353;
}

.nav > li:nth-child(n + 2) {
  margin-left: 20px;
}

.button.header-btn {
  color: #212353;
  padding: 17px 29px;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  font-weight: 800;
  font-size: 16px;
  line-height: 160%;
}
.header-btn::after {
  content: "";
  background: url("../img/btn-arrow.svg") no-repeat 0 0 / cover;
  width: 22px;
  height: 16px;
  display: inline-flex;
  margin-left: 20px;
}
.button.header-btn:hover {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

/*=====================HEADER STYLES END======================*/
/*=====================HERO STYLES START======================*/
.hero {
  padding-top: 80px;
  padding-bottom: 100px;
  overflow: hidden;
}
.hero-section {
  padding-bottom: 100px;
  display: flex;
  align-items: flex-start;
  position: relative;
}
.hero-content {
  width: 580px;
}
.hero-img {
  width: 885px;
  height: auto;
  position: absolute;
  right: -125px;
  bottom: 0;
}
.hero-title {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 80px;
  font-weight: 700;
  line-height: 110%;
  margin-bottom: 50px;
  color: #212353;
}
.hero-text {
  width: 380px;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  margin-bottom: 50px;
  color: #4b5d68;
}
.button.hero-btn {
  color: #ffffff;
  padding: 16px 37px;
  background: #9c69e2;
  border-radius: 50px;
  font-weight: 800;
}
.button.hero-btn:hover {
  color: #212353;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}
/*=====================HERO STYLES END======================*/
/*=====================BLOG STYLES START======================*/
.blog-media {
  background: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
}
.blog-content {
  padding: 125px 92px 126px 62px;
}
.blog-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  margin-bottom: 40px;
  color: #212353;
}
.blog-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #4b5d68;
}
.blog-img {
  width: 50%;
  height: auto;
  object-fit: cover;
}
/*=====================BLOG STYLES END======================*/
/*=====================SERVICES STYLES START======================*/
.services-content {
  padding: 150px 260px 70px 260px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.services-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  margin-bottom: 50px;
  text-align: center;
  color: #212353;
}
.services-subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: #4b5d68;
}
.services-section {
  padding-bottom: 150px;
  display: flex;
  justify-content: space-between;
}
.services-section {
  display: flex;
  flex-wrap: wrap;
}
.services-box {
  width: 380px;
  min-height: 360px;
  padding: 50px 50px 30px 110px;
  margin-left: 150px;
  margin-bottom: 50px;
  border-radius: 50px;
  position: relative;
  z-index: 0;
}
.services-box.search {
  background-color: #f0faf9;
}
.services-box.access {
  background-color: #f6f0fd;
}
.services-box.print {
  background-color: #fef0f8;
}
.services-box.security {
  background-color: #eaf6fc;
}
.services-box::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: inherit;
  border-radius: 50px;
  transform: skewX(-11deg);
  top: 0px;
  left: -35px;
  z-index: -1;
}
.services-box > img {
  display: inline-flex;
  position: absolute;
  width: 240px;
  height: auto;
  top: 50%;
  left: -35px;
  transform: translateY(-50%) translateX(-50%);
}
.services-box-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.services-box-title {
  color: #212353;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  margin-bottom: 30px;
}
.services-box-text {
  font-family: "avenir";
  color: #4b5d68;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}
.services-box-link {
  color: #212353;
  font-weight: 800;
  font-size: 16px;
  line-height: 160%;
}
.services-btn::after {
  content: "";
  background: url("../img/learn-more.svg") no-repeat 0 0 / cover;
  width: 20px;
  height: 14px;
  display: inline-flex;
  margin-left: 20px;
  margin-top: 7px;
}
.services-btn:hover::after {
  margin-left: 40px;
}
.services-box-content > a {
  margin-top: auto;
}
/*=====================SERVICES STYLES END======================*/
/*=====================testimonials START======================*/
.testimonials {
  padding-bottom: 150px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.testimonials-box {
  width: auto;
  height: 650px;
  background: #9c69e2;
  border-radius: 50px;
}
.testimonials-title {
  padding: 109px 0 88px 93px;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #fff;
}
.test-slider .swiper-slide {
  width: 400px;
  background: #ffffff;
  border: 1px solid #9c69e2;
  box-shadow: 0px 20px 0px hsl(265deg 68% 57% / 30%);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  /* transition: 0.3s; */
  overflow: hidden;
  position: relative;
}
.test-slider .swiper-slide:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  top: 0;
  background: linear-gradient(-90deg, #fff 15%, transparent);
}
.test-slider .swiper-slide.swiper-slide-active {
  width: 645px;
  box-shadow: 0px 20px 0px hsl(265deg 68% 35% / 30%);
}
.test-slider .swiper-slide.swiper-slide-active::after {
  display: none;
}
.swiper-content {
  padding: 50px 70px;
  display: flex;
  align-items: flex-start;
}
.swiper-content img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}
.slide-text {
  width: 435px;
}
.testimonials-name {
  font-weight: 900;
  font-size: 18px;
  line-height: 160%;
}
.testimonials-link {
  margin-bottom: 19px;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  color: #9c69e2;
}
.testimonials-link:hover {
  text-decoration: underline;
}
.testimonials-text {
  font-size: 18px;
  line-height: 180%;
}
.slider-bullet {
  display: inline-flex;
  margin-right: 10px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
}
.slider-active-bullet {
  width: 10px;
  height: 10px;
  background: #f063b8;
}
.slider-button-next {
  content: "";
  background: url("../img/arrow-right.svg") no-repeat 0 0 / cover;
  width: 20px;
  height: 14px;
  display: inline-flex;
  margin-left: 20px;
}
.slider-button-next:hover {
  background: url("../img/arrow-left.svg") no-repeat 0 0 / cover;
  transform: scaleX(-1);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.slider-button-prev {
  content: "";
  background: url("../img/arrow-right.svg") no-repeat 0 0 / cover;
  transform: scaleX(-1);
  width: 20px;
  height: 14px;
  display: inline-flex;
  border-radius: 50%;
}
.slider-button-prev:hover {
  content: "";
  background: url("../img/arrow-left.svg") no-repeat 0 0 / cover;
  transform: scaleX(+1);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.slider-modules {
  margin: 50px 80px 0 95px;
  display: flex;
  justify-content: space-between;
}
.slider-pagination {
  display: flex;
  align-items: center;
}
/*=====================testimonials END======================*/
.hr {
  border-bottom: 1px solid #9c69e2;
  opacity: 0.2;
}
/*=====================CTA START======================*/
.cta {
  display: flex;
  padding-top: 100px;
  padding-bottom: 150px;
}
.cta-group {
  display: flex;
  justify-content: space-between;
}
.cta-title {
  font-weight: 700;
  color: #212353;
  font-size: 40px;
  line-height: 130%;
  margin-bottom: 20px;
}
.cta-subtitle {
  font-weight: 500;
  color: #4b5d68;
  font-size: 18px;
  line-height: 160%;
}
.cta-button-group {
  display: flex;
  align-items: center;
}
.cta-btn {
  margin-right: 30px;
  color: #ffffff;
  padding: 16px 37px;
  background: #f063b8;
  border-radius: 50px;
  font-weight: 800;
  font-size: 18px;
  line-height: 160%;
}
.cta-btn:hover {
  color: #212353;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}
/*=====================CTA END======================*/
/*=====================FOOTER START======================*/
.footer {
  padding-bottom: 100px;
}
.footer-nav {
  display: flex;
  justify-content: space-between;
  color: #212353;
}
.nav-footer {
  display: flex;
  align-items: center;
  margin-bottom: 65px;
}
.footer-nav-address {
  width: 340px;
}
.footer-nav-logo {
  margin-right: 20px;
}
.footer-head {
  font-family: "avenir";
  font-weight: 900;
  font-size: 20px;
  line-height: 160%;
}
.address {
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.01em;
}
.footer-street {
  margin-bottom: 10px;
}
.footer-mail {
  width: 180px;
  font-family: "avenir";
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.01em;
}
.footer-number {
  width: 180px;
  font-family: "avenir";
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.01em;
  margin-bottom: 120px;
}
.footer-mail:hover {
  text-decoration: underline;
}
.footer-number:hover {
  text-decoration: underline;
}
.footer-nav-links {
  display: contents;
}
.footer-number-link {
  width: 265px;
  font-family: "avenir";
  font-weight: 400;
  font-size: 12px;
  line-height: 180%;
  letter-spacing: 0.01em;
}
.footer-navbar {
  font-family: "avenir";
  font-weight: 400;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 250%;
}
.footer-navbar a:hover {
  text-shadow: 0.2px 0.2px 0px, -0.2px -0.2px 0px;
}
.footer-navbar li {
  margin-bottom: 5px;
}
.footer-social {
  height: 35px;
  display: flex;
  align-items: center;
  text-shadow: 0.2px 0.2px 0px, -0.2px -0.2px 0px;
  margin-bottom: 25px;
}
.social-icons {
  display: flex;
  justify-content: space-between;
}
.social-icons li:nth-child(n + 2) {
  margin-left: 15px;
}
.icon > img {
  width: auto;
  height: 100%;
  object-fit: cover;
}
.icon:hover {
  border-radius: 50%;
  background-color: rgb(83, 83, 83);
}
.icon:nth-child(n + 2) {
  margin-left: 10px;
}
.footer-company {
  display: flex;
  justify-content: space-between;
}
.company {
  font-family: "avenir";
  font-weight: 400;
  font-size: 12px;
  line-height: 180%;
  letter-spacing: 0.01em;
  color: #212353;
}
.footer-tel-number:hover {
  text-decoration: underline;
}
.chat-icon img {
  width: auto;
  height: 100%;
  object-fit: cover;
}
.chat-icon:hover {
  height: 100%;
  border-radius: 50%;
  background-color: rgb(215, 130, 255);
}
/*=====================FOOTER END======================*/
/* // XX-Large devices (larger desktops) */
/* // No media query since the xxl breakpoint has no upper bound on its width */

/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
  .hero-img {
    width: 800px;
    right: 5px;
    bottom: 26px;
  }
  .testimonials {
    padding: 0 15px 150px 15px;
  }
}
/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
  .hero-img {
    width: 580px;
    right: 0px;
    bottom: 88px;
  }
  .blog-img {
    width: 40%;
  }
  .blog-content {
    padding: 40px;
  }
  .services-content {
    padding: 150px 160px 70px 160px;
  }
  .services-box {
    width: 300px;
    min-height: 300px;
    padding: 20px 20px 20px 95px;
  }
}
/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
  .logo {
    margin-right: 60px;
  }
  .hero-title {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 60px;
  }
  .hero-img {
    width: 420px;
    right: -10px;
    bottom: 60px;
  }
  .blog-title {
    font-size: 28px;
  }
  .blog-text {
    font-size: 14px;
  }
  .services-content {
    padding: 150px 50px 70px 50px;
  }
  .services-box {
    width: 185px;
    min-height: 240px;
    padding: 25px;
  }
  .services-box > img {
    width: 130px;
    left: -60px;
  }
  .services-box-title {
    font-size: 18px;
  }
  .services-box-text {
    font-size: 12px;
  }
  .services-btn:hover::after {
    margin-left: 25px;
  }
  .test-slider .swiper-slide.swiper-slide-active {
    width: 580px;
  }
  .swiper-content {
    padding: 50px;
  }
  .cta-title {
    font-size: 30px;
  }
  .cta-subtitle {
    font-size: 13px;
  }
  .cta-btn {
    margin-right: 20px;
  }
  .footer-nav-address {
    width: 245px;
  }
}
/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
  .nav > li:nth-child(n + 2) {
    margin-left: 5px;
  }
  .nav {
    font-size: 13px;
  }
  .logo {
    margin-right: 25px;
  }
  .button.header-btn {
    padding: 15px 12px;
  }
  .hero-title {
    width: 300px;
    font-size: 40px;
  }
  .hero-text {
    width: 275px;
    font-size: 13px;
  }
  .hero-img {
    width: 335px;
  }
  .hero-title {
    margin-bottom: 30px;
  }
  .blog-content {
    padding: 20px;
  }
  .blog-title {
    font-size: 20px;
  }
  .blog-text {
    font-size: 12px;
  }
  .blog-img {
    height: 100%;
  }
  .services-content {
    padding: 150px 0 70px 0;
  }
  .services-subtitle {
    font-size: 15px;
  }
  .services-box {
    width: 150px;
    min-height: 220px;
    padding: 10px;
    margin-left: 95px;
  }
  .services-box > img {
    width: 90px;
    left: -45px;
  }
  .services-box-title {
    font-size: 15px;
  }
  .services-box-title {
    margin-bottom: 20px;
  }
  .services-box-text {
    font-size: 12px;
  }
  .services-box-link {
    font-size: 15px;
  }

  .swiper-wrapper {
    transform: translate3d(90px, 0px, 0px);
  }

  .cta-title {
    font-size: 25px;
    margin-bottom: 5px;
  }
  .cta-subtitle {
    font-size: 12px;
  }
  .cta-btn {
    margin-right: 10px;
  }
  .cta-btn {
    padding: 12px 20px;
    font-size: 12px;
  }
  .button.header-btn {
    padding: 10px 10px;
  }
  .button.header-btn {
    font-size: 12px;
  }
  .footer-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 50px;
  }

}
/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
}
/* // XX-Small devices (portrait phones(iPhone5/5s/SE), equals to 320px) */
@media (max-width: 320px) {
}
